
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

body {
    background-color: white;
    font-family: "Comfortaa", serif;
}
.green-big-title{
    color: greenyellow;
    font-size: xx-large;
}

h2{
    color: tomato;
    font-family: "Comfortaa", serif;
}

.magenta-background{
    background-color: magenta;
}
.italic-font{
    font-style: italic;
}

header h1{
    background-color: chocolate;
}

header, footer {
    border-style: solid;
}

footer{
    /* padding: 20px;*/
    /*padding-left: 18px;
    padding-top: 100px;
    padding-right: 100px;
    padding-bottom: 200px;*/
    /*padding: 200px 100px 50px 300px;* top right bottom left*/
    /*padding: 100px 200px (top/bottom)  (left/right)*/
    margin: 200px;
}

.resized-p{
    background-color: deeppink;
    color: gold;
    /*width: 300px;
    height: 100px;
    overflow: auto;*/
    max-width: 800px;
    min-width: 700px;
}

.mother{
    background-color: indigo;
    padding: 8px;
   /* width: 50%;*/
   width: 800px;
   /*border-radius: 10px;*/
   /*border-top-left-radius: 20px;*/
   border-radius: 0px 20px 100px 50px;
   border: solid green 10px;
}

.son{
    background-color: chartreuse;
    width:50vw ;
}

.strange-borders{
    border-style: solid;
    border-color: coral;
    border-width: 1px;
    padding: 20px;
    border-radius: 20px;
}

header{
    background-image: url("./assets/sakura.jpg");
    background-repeat: no-repeat ;
    background-size: cover ;
    height: 200px;
    background-position: center center;
}



/* #lorem-p{
    border-style: solid;
} */


